doctype html
html
  body
    form(method='POST')
      select(name='style')
        for style in styles
          option(selected=style==sel) #{style}
      textarea(name='md')
      input(type='submit', value='Go!')
      